{% extends 'base.html' %} 

<html>
    <body>
        {% block pagecontent %}
        <div class="row">
            <div class="units">
                {% for word in words %}
                <div class ="unit">
                    <div class="col-lg-12 col-md-12 mt-4">
                        <div class="card h-100">
                            <img class="card-img-top" src ="{{ word.image.url }}" alt="..." />
                            <div class="card-body">
                                <h4 class="card-title">{{ word.english }} {{ word.thai }}</h4>
                                <h5>{{ word.transliteration }}</h5>
                                <p class="card-text">
                                    <h5>
                                        <audio controls>
                                            <source src = "{{ word.audio.url }}" type = "audio/mp3" />
                                            Your browser does not support the <audio> element.
                                         </audio>
                                    </h5>
                                </p>
                            </div>
                            <div class="card-footer"><small class="text-muted">★ ★ ★ ★ ☆</small></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endblock %}
    </body>
</html>