{% extends 'base.html' %} 

<html>
    <body>
        {% block pagecontent %}
        <div class="row">
            <div class="units">
                {% for unit in units %}
                <div class ="unit">
                    <div class="col-lg-12 col-md-12 mt-4">
                        <div class="card h-100">
                            <img class="card-img-top" src ="{{ unit.image.url }}" alt="..." />
                            <div class="card-body">
                                <h4 class="card-title">{{ unit.number }}. {{ unit.unit }}</h4>
                                <h5>{{ word_of_the_day.thai }}</h5>
                                <p class="card-text">
                                    <a href="{% url 'units:review' unit=unit.unit_name %}">Review</a>
                                    <a href="#">Test</a>
                                </p>
                            </div>
                            <div class="card-footer"><small class="text-muted">★ ★ ★ ★ ☆</small></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endblock %}
    </body>
</html>